* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/raulzitos2.png');
  background-repeat: repeat;
  background-position: center;
  background-size: inherit;
  z-index: 0;
  background-attachment: fixed;
}

.normal {
  filter: invert(0);
}

.inverted {
  filter: invert(100%);

}

a:active, a:focus, a:link {
  outline: 0;
  border: none;
}

.pagina {
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  margin-top: 100px;
  border-radius: 8px;
  padding: 20px;
  z-index: 1;
  border: 2px solid #000;
  box-shadow: 0 0 5px #000;
}

#menu {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  margin-top: -95px;
}

.menu-btns {
  margin-top: 1px;
}

.menu-inner button {
  display: inline;
  font-family: 'Source Sans Pro';
  font-weight: bolder;
  font-size: 1.3em;
  width: 85px;
  height: 35px;
  color: #fff;
  border-radius: 3px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#menu img {
  width: 150px;
  margin: 0 auto;
}

#menu a {
  text-decoration: none;
  padding: 0 35px;
}

.switch {
 position: fixed;
 display: block;
 width: 30px;
 height: 18px;
 top: 0;
 right: 0;
 margin-right: 10px;
 margin-top: 10px;
}

.switch input {display:none;}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #666;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 14px;
 width: 14px;
 left: 2px;
 bottom: 2px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #000;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(13px);
 -ms-transform: translateX(13px);
 transform: translateX(13px);
}

.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}

.sobre-btn {
  background-color: #87b52f;
}

.doe-btn {
  background-color: #d1254d;
  }

.doe-btn:active, .sobre-btn:active {
  transition: 400ms;
  filter: hue-rotate(90deg);
}

.title {
  font-family: 'Neucha';
  font-weight: lighter;
  font-size: 2em;
  text-align: center;
  padding-bottom: 20px;
}

.logo-pixel {
  shape-outside: url(../img/raulhc-pixel.png);
  shape-margin: 2em;
  shape-image-threshold: 0.9;
  float: left;
  height: 200px;
}

.sobre {
  font-family: 'Roboto Slab';
  text-align: justify;
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
}

.sobre h3 {
  font-family: 'Roboto Slab'
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 0;
}

.doe {
  font-family: 'Roboto Slab';
  text-align: justify;
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
}

.doe h3 {
  font-family: 'Roboto Slab'
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 0;
}

.doe span {
  font-weight: bolder;
  text-decoration: underline;
}

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 100px;
  line-height: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #231f20;
  color: #fff;
  font-size: 1em;
}

#copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

@media (max-width: 484px) {
  #menu a {
    padding: 0 8px;
  }
  .sobre img {
    display: block;
    margin: 0 auto;
  }
  .sobre h3, .doe h3 {
    display: block;
    text-align: center;
    width: 95%;
  }
  #full-width {
    width: 100%;
    margin: 0 auto;
    height: 200px;
  }
  .logo-pixel {
    float: none;
  }
}
